#white-container {
  width: calc(100% - 40px);
  height: auto;
  overflow: auto;
  background-color: white;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
}

.radio-box {
  width: 180px;
  height: 40px;
  float: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.radio {
  font-size: 14px;
}

#entire-table {
  width: 100%;
  height: 20px;
  float: left;
  background-color: black;
  padding: 0px;
}

#table-search-row {
  float: left;
  width: 100%;
  height: 40px;
  background-color: #3a537d;
}

.section-row {
  float: left;
  width: 100%;
  height: 32px;
  background-color: #3a537d;
  padding: 0px 0px 3px 0px;
}

.section-row-cell {
  height: 100%;
  width: 100%;
  padding-left: 10px;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.result-row {
  float: left;
  width: 100%;
  height: 37px;
  padding: 0px 0px 3px 0px;
}

.result-row:hover {
  background-color: #dae3f3;
}

.white-row {
  background-color: white;
}

.grey-row {
  background-color: #f0f0f0;
}

#search-button-box {
  justify-content: center !important;
  width: 160px !important;
  padding-left: 0px !important;
}

.left-cell {
  height: 100%;
  width: 150px;
  float: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  color: #3a537d;
}

.column-cell {
  width: calc((100% - 174px) / 6);
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#search-button {
  margin: 0px 0px 3px 0px;
  outline: none;
  width: 50%;
}

#search-button:hover {
  cursor: pointer;
}

.search-input {
  margin: 0px 0px 3px 0px;
  outline: none;
  width: 80%;
}

.sprite-box {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
