html, body {
  height: 100%;
  margin: 0;
  font-family: verdana !important;
}

* {
  box-sizing: border-box;
  transition: 0.25s;
}

.webpage {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appBox {
  height: 500px;
  width: 300px;
  border: 2px solid black;
  background-color: #F4F5F7;
}

.header {
  height: 50px;
  width: 100%;
  background-color: #DB8567;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

#info {
  text-align: center;
  height: 46px;
  width: 100%;
  background-color: #F4F5F7;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alcoholButton {
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  outline: none;
  border: none;
  background-color: #F4F5F7;
  width: 100%;
  font-weight: bold;
  font-family: verdana;
}

.alcoholButton:hover {
  background-color: #B6D1D9;
  cursor: pointer;
}

#margarita {
  display: flex;
}

#mojito {
  display: flex;
}

#cosmopolitan {
  display: flex;
}

#daiquiri {
  display: flex;
}

#pinaColada {
  display: flex;
}

#martini {
  display: flex;
}

#sex {
  display: flex;
}

#bellini {
  display: flex;
}

#espresso {
  display: flex;
}

#caip {
  display: flex;
}

.infoCard {
  width: 100%;
  height: 366px;
}

.cocktailImage {
  width: 150px;
  height: 150px;
  display: block;
  margin-left: 90px;
}

.cocktailImage:hover {
  cursor: pointer;
}

.ingredients {
  font-size: 14px;
  display: block;
  text-align: center;
}

.ingredient {
  font-size: 12px;
  display: block;
  text-align: center;
}

#margaritaInfoCard {
  display: none;
}

#mojitoInfoCard {
  display: none;
}

#cosmopolitanInfoCard {
  display: none;
}

#daiquiriInfoCard {
  display: none;
}

#pinaColadaInfoCard {
  display: none;
}

#martiniInfoCard {
  display: none;
}

#sexInfoCard {
  display: none;
}

#belliniInfoCard {
  display: none;
}

#espressoInfoCard {
  display: none;
}

#caipInfoCard {
  display: none;
}

#menuButton {
  display: none;
}
