tml, body {
  height: 100%;
  margin: 0;
  font-family: verdana !important;
}

* {
  box-sizing: border-box;
  transition: 0.25s;
}

.buttonDiv {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.returnButton {
  background-color: darkRed;
  color: white !important;
  border-radius: 5px;
  text-align: center;
  border: none;
  outline: none;
  font-size: 18px !important;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: 0.25s;
}

.returnButton:hover {
  background-color: white;
  color: black !important;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.webpage {
  height: calc(100% - 40px);
  padding-top: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.appBox {
  height: 500px;
  width: 300px;
  border: 2px solid black;
  background-color: #F4F5F7;
}

.heading {
  height: 50px;
  width: 100%;
  background-color: #DB8567;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultBox {
  height: 56px;
  float: left;
  width: 90%;
  margin: 10px 5% 10px 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid black;
  font-size: 32px;
  font-family: verdana !important;
}

#result {
  width: 100%;
  height: 100%;
  font-size: 32px;
  padding-right: 7px;
  text-align: right;
}

.resetButton {
  width: 280px;
  height: 60px;
  margin: 7px;
  float: left;
  font-family: verdana !important;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: 2px solid #DB8567;
}

.otherButton {
  width: 60px;
  height: 60px;
  margin: 7px;
  float: left;
  font-family: verdana !important;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: 2px solid #DB8567;
}

.resetButton:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.otherButton:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
