html, body {
  height: 100%;
  margin: 0;
  font-family: verdana, sans-serif !important;
}

* {
  box-sizing: border-box;
  transition: 0.15s;
}

.webpage {
  width: calc(100% - 80px);
  margin: 20px 40px 20px 40px;
}

.headingBox {
  width: 100%;
  float: left;
}

#gameBox {
  background-color: #F4F5F7;
  width: 100%;
  float: left;
  padding: 0px 20px 20px 20px;
  margin-bottom: 20px;
}

.gameText {
  font-family: verdana, sans-serif;
}

.startButtonBox {
  width: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameButton {
  width: auto;
  height: auto;
  font-size: 18px;
  color: white;
  border-radius: 0px;
  border: none;
  outline: none;
  background-color: #65BA98;
  padding: 10px 20px 10px 20px;
}

.gameButton:hover {
  background-color: #509479;
  cursor: pointer;
}

#ingredientBox {
  display: none;
  background-color: #F4F5F7;
  width: 100%;
  float: left;
  padding: 0px 20px 20px 20px;
  margin-bottom: 20px;
}

.singleBox {
  width: calc(100% / 6);
  float: left;
  margin-bottom: 10px;
}

.buttonBox {
  width: 75%;
  float: left;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  padding-right: 10px;
}

.rightBox {
  width: 25%;
  float: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  padding-left: 10px;
}

.tickBox {
  height: 30px;
  width: 30px;
  border: 2px solid black;
}

@media screen and (max-width: 1300px) {
    .singleBox {
      width: calc(100% / 3);
    }
}

@media screen and (max-width: 720px) {
    .singleBox {
      width: 50%;
    }
}

@media screen and (max-width: 560px) {
    .singleBox {
      width: 100%;
    }
    .buttonBox {
      justify-content: center;
      padding-right: 0px;
    }
    .rightBox {
      justify-content: center;
      padding-left: 0px;
    }
}

#makeButton {
  background-color: darkred !important;
}

#makeButton:hover {
  background-color: #640000 !important;
}

.whiteBar {
  width: 100%;
  float: left;
  background-color: white;
  height: 20px;
}

#cocktailBox {
  display: none;
  background-color: #F4F5F7;
  width: 100%;
  float: left;
  padding: 0px 20px 20px 20px;
  margin-bottom: 20px;
}

.ingredient {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: none;
}
