tml, body {
  height: 100%;
  margin: 0;
  font-family: verdana !important;
}

* {
  box-sizing: border-box;
  transition: 0.25s;
}

.buttonDiv {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.returnButton {
  background-color: darkRed;
  color: white !important;
  border-radius: 5px;
  text-align: center;
  border: none;
  outline: none;
  font-size: 18px !important;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: 0.25s;
}

.returnButton:hover {
  background-color: white;
  color: black !important;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.webpage {
  height: calc(100% - 40px);
  padding-top: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.appBox {
  height: 500px;
  width: 300px;
  border: 2px solid black;
  background-color: #F4F5F7;
}

.heading {
  height: 50px;
  width: 100%;
  background-color: #DB8567;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100%;
  height: 223px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

#box1 {
  width: 100%;
  height: 223px;
  float: left;
  justify-content: center;
  align-items: flex-start !important;
  padding-top: 20px;
  display: none;
}

#startButton {
  height: 50px;
  width: 120px;
  font-family: verdana, sans-serif;
  background-color: darkSeaGreen;
  border: 1px solid darkred;
  border-radius: 0px;
  font-size: 20px;
}

#startButton:hover {
  cursor: pointer;
  width: 200px;
}

.spinner {
  height: 100px;
  display: none;
}
