tml, body {
  height: 100%;
  margin: 0;
  font-family: verdana !important;
}

* {
  box-sizing: border-box;
  transition: 0.25s;
  -webkit-appearance: none;
}

.buttonDiv {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.returnButton {
  background-color: darkRed;
  color: white !important;
  border-radius: 5px;
  text-align: center;
  border: none;
  outline: none;
  font-size: 18px !important;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: 0.25s;
}

.returnButton:hover {
  background-color: white;
  color: black !important;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.webpage {
  height: calc(100% - 40px);
  padding-top: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.appBox {
  height: 500px;
  width: 300px;
  border: 2px solid black;
  background-color: #F4F5F7;
}

.heading {
  height: 50px;
  width: 100%;
  background-color: #DB8567;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100%;
  background: none;
}

.topBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.gameButton {
  height: 40px;
  width: 70%;
  border: 1px solid darkred;
  outline: none;
  font-size: 20px;
  font-family: verdana !important;
}

.gameButton:hover {
  cursor: pointer;
  width: 280px;
}

#gameBox {
  height: 280px;
  width: 280px !important;
  margin-left: 10px;
  border: 1px solid darkred;
  display: none;
}

.square {
  height: calc(100% / 3);
  width: calc(100% / 3);
  border: 1px solid darkred;
  float: left;
  font-size: 80px;
  color: #DB8567;
  outline: none;
}

.square:hover {
  cursor: pointer;
  border: 1px solid lightblue;
}

#bottomBox1 {
  display: none;
  justify-content: center;
  align-items: center;
  height: 40px;
}

#turnLetter {
  background: none;
  border: 0px solid #F4F5F7;
  outline: none;
  font-size: 20px;
  font-family: verdana;
  text-align: center;
}

#turnLetter:hover {
  cursor: context-menu;
}

#bottomBox2 {
  display: none;
  justify-content: center;
  align-items: center;
  height: 60px;
}
